<div class="h-screen flex justify-center items-center">
  <mat-card>
    <div class=" flex p-5 rounded-sm">
      <div class="flex justify-center items-center relative">
        @if (currPath) {
          <img class="w-[420px] h-[420px] bg-blue-400" alt="MISSING IMAGE" [src]="currPath"/>
        } @else {
          <div class="w-[420px] h-[420px] bg-black opacity-20 border-dashed border-2 rounded-2xl">
          </div>
          <div class="absolute">
            <button (click)="fileInput.click()" mat-flat-button>Select image...</button>
            <input #fileInput (change)="onImageUpload($event)" accept="image/*" class="hidden" id="img" name="img"
                   type="file">
          </div>
        }
      </div>
      <div class="flex items-center justify-between flex-col ml-5">
        <div class="w-full p-2 mb-2 mat-app-background rounded-md">
          <p class="w-full !mb-0">{{ form.controls.file.value.name }}</p>
        </div>
        <app-image-input (uploaded)="onImageUpload($event)" class="mb-2">Add image...</app-image-input>
        <mat-divider class="w-full"></mat-divider>
        <app-radio [control]="form.controls.areCustomParametersApplied" class="w-full"
                   label="Custom parameters setting"></app-radio>
        <app-input [control]="form.controls.clusterAmount" class="w-full" placeholder="Clusters amount"></app-input>
        <app-input [control]="form.controls.maximumFileSize" [max]="1000" class="w-full"
                   placeholder="Maximum file size"></app-input>
        <mat-divider class="w-full"></mat-divider>
        <app-radio [control]="form.controls.applyRag" class="w-full" label="Apply RAG"></app-radio>
        <app-input [control]="form.controls.ragThreshold" [max]="32" class="w-full"
                   placeholder="RAG threshold"></app-input>
        <button (click)="submit()"
                [disabled]="form.controls.file.value.name==='Please upload file...'"
                color="primary"
                mat-raised-button>Calculate
        </button>
      </div>
    </div>
    <app-results *ngIf="!!rgbValues || error || isResponseLoading" [error]="error"
                 [isResponseLoading]="isResponseLoading"
                 [results]="rgbValues" class="absolute top-24 l-0 r-0"></app-results>

  </mat-card>
</div>
<router-outlet></router-outlet>
